*{
  margin: 0;
  padding: 0;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: end;
    top: 0; 
    left: 0;
    width: 100%;
    background-color: red;
}
.navbar ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}
.navbr li {
  float: right;
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: white;
  font-size: larger;
  font-weight: 300;
}
.navbar a:hover {
    background-color: black;
}
.header {
  text-align: center;
  font-size: 42px;
  margin:60px 0;
  padding: 10px;
  background-color: black;
  height: auto;
}
.header h1 {
  text-align: center;
  color: red;
}
header p{
  text-align: center;
  color: white;
}
